<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
<html lang="en">
<title>{% block title %}{% endblock %} | forget-me-NOTe</title>
{% block includes %}
<link rel="stylesheet" href="{% static 'tracker/css/style.css' %}">
{% bootstrap_css %}
<script type="text/javascript" src="{% static 'tracker/js/jquery-3.3.1.js' %}"></script>
<script>
    $(document).ready(function () {
        {% block js %}
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        {% endblock %}
    })
</script>
{% endblock %}
</head>
<body>
{% block header %}
<div class="header" id="header">
    <a href="{% url 'home' %}" class="logo">forget-me-NOTe</a>
    <div class="header-right">
        {% block menu %}
        {% if user.is_authenticated %}
        {% if action != 'Create'%}<a href="{% url 'task_create' %}">Create task</a> {% endif %}
        <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
        {% endblock %}
    </div>
</div>
{% endblock %}
<div id="container" class="container" style="padding-top: 10px; margin-bottom: 20px">
    {% block content %}{% endblock %}
</div>
{% block footer %}
<div class="footer">
    <p>Angelina Belyasova</p>
</div>
{% endblock %}
</body>
</html>