{%extends "tracker/base.html"%}

{% block title %}{{group.title}}{% endblock %}

{% block js %}
{{block.super}}
var group_id = {{group.id}}

$("#edit").click(function() {
    $("#title").hide()
    $("#edit").hide()
    $("#titleEdit").children("form").show()
    $("#newTitle").val($("#title").text())
})

$("#save").click(function() {
     $.ajax({
        type: 'POST',
        url: '/tracker/group/edit/',
        data: {
            'title': $("#newTitle").val(),
            'group_id': group_id
        },
        success: function (result, status, xhr) {
            $("#titleEdit").children("form").hide()
            $("#title").text(result['title'])
            $("#title").show()
            $("#edit").show()
        },
        error: function (xhr, status, error) {
            return
        }
    })
})

$("#cancel").click(function() {
    $("#titleEdit").children("form").hide()
    $("#title").show()
    $("#edit").show()
})
{% endblock %}

{% block menu %}
<a href="{% url 'list_tasks' %}">Tasks</a>
{{block.super}}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="well">
            <label for="title">Title: </label>
            <span id="titleEdit">
                <span id="title">{{group.title}}</span>
                <form style="display: none" method="post" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <input id="newTitle" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="button" id="save" class="btn btn-primary">Save</button>
                        <button type="button" id="cancel" class="btn btn-warning">Cancel</button>
                    </div>
                </form>
                <button id="edit" class="btn btn-primary pull-right">Edit</button>
            </span>
        </div>
        <div class="well">
            <label for="creator">Creator: </label>
            <span id="creator">{{group.creator}}</span>
        </div>
        <div class="well">
            <label for="tasks"><h4>Tasks:</h4></label>
            <ul id="tasks" class="list_group">
                {% for task in tasks %}
                    <li class="row">
                        <a href="{% url 'task_view' %}?task_id={{task.id}}" class="list-group-item">{{task.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
