{% extends "tracker/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'tracker/css/todolist_styles.css' %}">
{{block.super}}
{% endblock %}

{% block js %}
{{block.super}}

var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 0; i < myNodelist.length; i++) {
    var span = document.createElement("SPAN");
    var txt = document.createTextNode("\u00D7");
    span.className = "close";
    span.appendChild(txt);
    myNodelist[i].appendChild(span);
}

$(".close").click(function() {
    element = $(this)
    $.ajax({
        type: 'POST',
        url: '/tracker/group/delete/',
        data: {
            'group_id': element.parent().attr('id')
        },
        success: function (result, status, xhr) {
            element.parent().hide()
        },
        error: function (xhr, status, error) {
            alert('Apparently, group is not empty')
        }
    })
})

// Create a new list item when clicking on the "Add" button
function newElement() {
    var li = document.createElement("li");
    var inputValue = document.getElementById("titleInput").value;
    var redirect_url = '{% url 'group_view' %}' + '?group_id='
    $.ajax({
        type: 'POST',
        url: '/tracker/group/create/',
        data: {
            'title': inputValue
        },
        success: function (result, status, xhr) {
            newId = result['group_id']
            li.id = newId
            $(li).children('a').prop('href', redirect_url + newId)
        },
        error: function (xhr, status, error) {
            return
        }
    })
    var t = document.createTextNode(inputValue + "  ");
    var ref = document.createElement("A");
    ref.appendChild(t);
    li.appendChild(ref);
    if (inputValue === '') {
        alert("You must write something!");
    } else {
        document.getElementById("groups").appendChild(li);
    }
    document.getElementById("titleInput").value = "";

    var badge = document.createElement("SPAN");
    var txt = document.createTextNode("0");
    badge.className = "badge";
    badge.appendChild(txt);
    li.appendChild(badge);

    var span = document.createElement("SPAN");
    var txt = document.createTextNode("\u00D7");
    span.className = "close";
    span.appendChild(txt);
    li.appendChild(span);

    $(span).click(function() {
        element = $(this)
        $.ajax({
            type: 'POST',
            url: '/tracker/group/delete/',
            data: {
                'group_id': element.parent().attr('id')
            },
            success: function (result, status, xhr) {
                element.parent().hide()
            },
            error: function (xhr, status, error) {
                alert('Apparently, group is not empty')
            }
        })
    })
}

document.getElementById("addButton").addEventListener("click", newElement, false);

{% endblock %}

{% block menu %}
<a href="{% url 'list_tasks' %}">Tasks</a>
{{ block.super }}
{% endblock %}

{% block content %}
{% csrf_token %}
<!--<h2 style="text-align: center"><strong>Welcome, {{user}}!</strong></h2>-->
<div id="div" class="header">
    <h2 style="color: black;">Your groups</h2>
    <input type="text" id="titleInput" style="color: black" placeholder="Title...">
    <span id="addButton" class="addBtn">Add group</span>
</div>

<ul id="groups">
    {% for group in groups %}
    <li id="{{group.id}}">
        <span><a href="{% url 'group_view' %}?group_id={{group.id}}">{{group.title}}</a></span>
        <span class="badge">{{group.tasks_number}}</span>
    </li>
    {% endfor %}
</ul>
{% endblock %}