{% extends "tracker/base.html" %}

{% block title %}Log in{% endblock %}

{% block menu %}
    {{ block.super }}
    <a href="{% url 'sign_up' %}">Sign up</a>
{% endblock %}

{% block content %}
{% load bootstrap3 %}
<form method="post" class="form-horizontal" novalidate>
    {% csrf_token %}
    <h1>Login</h1>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
    </div>
    {% endif %}
    <hr>
    {% bootstrap_form form %}
    <hr>
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        Login
    </button>
    {% endbuttons %}
</form>
{% endblock %}