{%extends "tracker/base.html"%}
{% block title %}Permission{% endblock %}

{% block menu %}
    <a href="{% url 'list_tasks' %}">Tasks</a>
    {{ block.super }}
{% endblock %}

{% block content %}
{% load bootstrap3 %}
{% if error %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}
</div>
{% endif %}
<form method="post" class="form-horizontal well" novalidate>
  <h1>New permission</h1>
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Grant
    </button>
    <a href="{% url 'task_view' %}?task_id={{task_id}}"><button type="button" class="btn btn-default">Back to task view</button></a>
  {% endbuttons %}
</form>
{% endblock %}
