{% extends "tracker/base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
{% load bootstrap3 %}
<form method="post" class="form-horizontal" novalidate>
    {% csrf_token %}
    <h1>Sign up</h1>
    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% endif %}
    <hr>
    {% bootstrap_form form %}
    <hr>
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        Confirm
    </button>
    <a href="{% url 'login' %}">
        <button type="button" class="btn btn-link">Return</button>
    </a>
    {% endbuttons %}
</form>
{% endblock %}