{%extends "tracker/base.html"%}
{% block title %}{{action}} task{% endblock %}

{% block menu %}
    <a href="{% url 'list_tasks' %}">Tasks</a>
    {{ block.super }}
{% endblock %}


{% block js %}
{{block.super}}
{% if action == 'Copy' %}
$(".form-control").not("#id_deadline").parent().hide()
{% endif %}
{% endblock %}

{% block content %}
{% load bootstrap3 %}
<form method="post" class="form-horizontal well" novalidate>
  <h1>{{action}} task</h1>
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {{action}}
    </button>
    {% if action == 'Create' %}<a href="{% url 'list_tasks' %}"> {% else %}<a href="{% url 'task_view' %}?task_id={{task_id}}"> {% endif %}
        <button type="button" class="btn btn-link">Go{% if action == 'Create' %} to the list {% else %} back {% endif %}</button>
    </a>
  {% endbuttons %}
</form>
{% endblock %}
