{%extends "tracker/base.html"%}
{% block title %}Tasks{% endblock %}
{% block menu %}
{{ block.super }}
{% endblock %}
{% block content %}
<div class="row">
    <h1 class="page-header">Your tasks</h1>
    <div class="well">
        {% if tasks %}
        {% for s, o in status %}
        <div id="{{s}}_tasks">
            <h4><strong>{{ s|capfirst }}:</strong></h4>
            <ul class="list_group">
                {% for task in tasks %}
                {% if task.status is o %}
                <li class="row" id="{{task.id}}">
                        <a href="{% url 'task_view' %}?task_id={{task.id}}" class="list-group-item">
                            {{task.title}}
                        </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}